<h1>You've added a new car!</h1>
<p>@Model.getYear() @Model.getMake() @Model.getModel()</p>
<p>$@Model.getPrice()</p>
<p>@Model.getMiles() miles</p>
<p><a href="/view_all_cars">View Current garage</a></p>
