<form action ="/view_result" method="post">
  <label for="max-price">Price: </label>
  <input id="max-price" name = "max-price" type = "text">
  <label for="max-miles">Miles: </label>
  <input id="max-miles" name = "max-miles" type = "text">
  <button type = "submit">Submit</button>
</form>
